%section-bcg-left {
    background-repeat: no-repeat;
    background-position-x: -3.5rem;
    background-position-y: 4rem;
    background-size: 40%;
}

%section-bcg-right {
    background-repeat: no-repeat;
    background-position-x: 115%;
    background-position-y: 4rem;
    background-size: 50%;
}

.text-light {
    font-weight: 200;
}

h1,
h2,
h3,
h4 {
    font-family: $font-heding-family;
}
.text-white {
    color: $white;
}

.text-orange {
    color: map-get($termo-colors, orange);
}
ul {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

header, 
section, 
footer {
    width: 100%;
}

header {
    &.header {
        position: fixed;
        top: 0;
        z-index: 9999;
        padding: 1.5rem 0;
        background: rgba($black, 0.3);
        &.white {
            background-color: $white;
            border-bottom: 1px solid map-get($termo-colors, orange);
            box-shadow: 0px 3px 15px 0px rgba($black, 0.1);
            a {
                color: $orange;
            }
        }
    }
    nav {
        color: $white;

        .menu {
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }
        .menu-item {
            margin-left: 1.250rem;
                a {
                    font-size: .750rem;
                    border: 1px solid $orange;
                    border-radius: 10rem;
                    padding: .500rem .750rem ;
                    transition: all .4s ease-in-out;
                        &:hover {
                            color: $white;
                            background-color: $orange;
                        }
                }
        }
    }
}

section {
    padding: 80px 0;
    &.section-border {
        border-bottom: 1px solid rgb(230, 230, 230);
    }

    &.main-section-bcg {
        position: relative;
        z-index: 0;
        background-color: #00303f;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -11;
                width: 100%;
                height: 100%;
                content: "";
                background-image: url('../img/patern.png');
            }
            &:after {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40%;
                height: 85%;
                z-index: -10;
                content: "";
                background-image: url('../img/main-termo-bcg.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
        
        .hero-heading-fline {
            font-size: 5rem;
            font-weight: 100;
        }

        .hero-heading-sline {
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: .750rem;
            line-height: 4rem;
        }

        .hero-heading-tline {
            font-size: 5rem;
            line-height: 5rem;
        }

        .hero-contact {
            font-family: $font-heding-family;
            color: $white;
            font-size: 2.225rem;
            line-height: 2rem;
        }

        .hero-phone {
            font-family: $font-heding-family;
            font-size: 2.5rem;
            font-weight: 800;

            i {
                width: 60px;
                height: 60px;
                padding: 10px;
                text-align: center;
                background-color: $white;
                border-radius: 50%;
                color: map-get($termo-colors, orange);
            }
        }
    }

    &.termovision-bcg {
        background-image: url('../img/thermo-bcg-xl.png');
        background-color: $white;
        @extend %section-bcg-left;
    }

    &.electrict-bcg {
        background-image: url('../img/electric-bcg.png');
        @extend %section-bcg-right;
    }

    &.light-bcg {
        background-image: url('../img/light-mes.png');
        @extend %section-bcg-left;
    }

    &.alarm-systems {
        background-image: url('../img/alarm-sys.png');
        @extend %section-bcg-right;
    }

    &.contact {
        padding: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &.bcg-404 {
        min-height: 100vh;
        background-image: url('../img/404-bcg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    &.basic-section {

    }
}

footer {
    padding: 50px 0;
    
    &.footer {
        background-color: map-get($termo-colors, footer-bcg);
    }

    address {
        font-family: $font-heding-family;
        color: $white;
        
        ul {
            padding: 0;
            li {
                font-size: 1.250rem;
                font-weight: 300;
                display: block;
            }
        }
    }

}

.section-main-title {
    font-size: 4rem;
}

.section-content {
    font-size: 1.5rem;
}

.section-link {
    font-size: 2.5rem;
}

.page-content {
    p {
        line-height: 1.750rem;
    }
}