/*--------------------------------------------------------------
+++ Extends +++
--------------------------------------------------------------*/
%section-bcg-left {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 2rem;
    background-size: 40%;
    @include for-sm {
        background-position-x: -7rem;
        background-position-y: 5rem;
        
    }
}

%section-bcg-right {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 2rem;
    background-size: 50%;
    @include for-sm {
        background-position-x: 140%;   
        background-position-y: 35%;     
    }
    @include for-md {
        background-position-x: 130%;           
    }
    @include for-xl {
        background-position-x: 115%;
        background-position-y: 4rem;
    }
}

/*--------------------------------------------------------------
+++ Animations +++
--------------------------------------------------------------*/
.shake-top {
	-webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*--------------------------------------------------------------
+++ Helpers +++
--------------------------------------------------------------*/
.rwd-margin {
    margin-top: 7.5rem;
    @include for-phone-landscape {
        margin-top: 12rem;
    }
    @include for-sm {
        margin-top: 0;
    }
}

.text-light {
    font-weight: 200;
}

/*--------------------------------------------------------------
+++ General +++
--------------------------------------------------------------*/
h1,
h2,
h3,
h4 {
    font-family: $font-heding-family;
}

.text-white {
    color: $white;
}

.text-orange {
    color: map-get($termo-colors, orange);
}

ul {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

header, 
section, 
footer {
    width: 100%;
}

/*--------------------------------------------------------------
+++ Mobile menu +++
--------------------------------------------------------------*/
.cbp-spmenu {
    ul {
        li {
            width: 100%;
        }
    }
}
/*--------------------------------------------------------------
+++ Header and Navigation +++
--------------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    z-index: 9999;
    padding: 1.5rem 0;
    &.main-header {
        background: rgba($black, 0.3);
        &.white {
            background-color: $white;
            border-bottom: 1px solid map-get($termo-colors, orange);
            box-shadow: 0px 3px 15px 0px rgba($black, 0.1);
            a {
                color: $orange;
            }
        }
    }
    &.white-bcg-header {
        background-color: $white;
        border-bottom: 1px solid map-get($termo-colors, orange);
        box-shadow: 0px 3px 15px 0px rgba($black, 0.1);
        a {
            color: $orange;
        }
    }

    nav {
        color: $white;

        .menu {
            display: flex;
            justify-content: flex-end;
            margin: 0;
        }

        .menu-item {
            margin-left: 1.250rem;
                a {
                    font-size: .750rem;
                    border: 1px solid $orange;
                    border-radius: 10rem;
                    padding: .500rem .750rem ;
                    transition: all .4s ease-in-out;
                        &:hover {
                            color: $white;
                            background-color: $orange;
                        }
                }
        }
    }
}

section {
    padding: 80px 0;
    &.section-border {
        border-bottom: 1px solid rgb(230, 230, 230);
    }

    &.main-section-bcg {
        position: relative;
        z-index: 0;
        background-color: #00303f;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -11;
                width: 100%;
                height: 100%;
                content: "";
                background-image: url('../img/patern.png');
            }

            &:after {
                display: none;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40%;
                height: 85%;
                z-index: -10;
                content: "";
                background-image: url('../img/main-termo-bcg.png');
                background-repeat: no-repeat;
                background-size: cover;
                @include for-md {
                    display: block;
                }
            }
        
        .hero-heading-fline {
            font-size: 2.2rem;
            font-weight: 300;
            @include for-md {
                font-size: 3.0rem;
            }
            @include for-lg {
                font-size: 4.0rem;
                font-weight: 100;
            }

            @include for-xl {
                font-size: 5.0rem;
            }
        }

        .hero-heading-sline {
            font-size: 2.0rem;
            letter-spacing: .25rem;
            line-height: 2.0rem;
            font-weight: 300;
            @include for-md {
                font-size: 3.0rem;
                line-height: 3.0rem;
            }

            @include for-lg {
                font-size: 4.0rem;
                line-height: 4.0rem;
            }

            @include for-xl {
                letter-spacing: .750rem;
            }
        }

        .hero-heading-tline {
            font-size: 2.2rem;
            line-height: 2.2rem;
            @include for-md {
                font-size: 3.0rem;
                line-height: 3.0rem;
            }
            @include for-lg {
                font-size: 4.0rem;
                line-height: 4.0rem;
            }

            @include for-xl {
                font-size: 5.0rem;
                line-height: 5.0rem;
            }
        }

        .hero-contact {
            font-family: $font-heding-family;
            color: $white;
            font-size: 1.9rem;
            line-height: 1.9rem;
        }

        .hero-phone {
            font-family: $font-heding-family;
            font-size: 1.500rem;
            font-weight: 800;
            @include for-xl {
                font-size: 2.5rem;
            }

            i {
                width: 35px;
                height: 35px;
                padding: 5px;
                text-align: center;
                background-color: $white;
                border-radius: 50%;
                color: map-get($termo-colors, orange);
                @include for-xl {
                    width: 60px;
                    height: 60px;
                    padding: 10px;
                }
            }
        }
    }

    &.termovision-bcg {
        background-image: url('../img/thermo-bcg-xl.png');
        background-color: $white;
        @extend %section-bcg-left;
    }

    &.electrict-bcg {
        background-image: url('../img/electric-bcg.png');
        @extend %section-bcg-right;
    }

    &.light-bcg {
        background-image: url('../img/light-mes.png');
        @extend %section-bcg-left;
    }

    &.alarm-systems {
        background-image: url('../img/alarm-sys.png');
        @extend %section-bcg-right;
    }

    &.contact {
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &.bcg-404 {
        min-height: 100vh;
        background-image: url('../img/404-bcg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &.basic-section {

    }
}

/*--------------------------------------------------------------
+++ Footer +++
--------------------------------------------------------------*/
footer {
    padding-top: 50px;
    padding-bottom: 10px;
    &.footer {
        background-color: map-get($termo-colors, footer-bcg);
    }

    address {
        font-family: $font-heding-family;
        color: $white;
        
        ul {
            padding: 0;
            li {
                font-size: 1.225rem;
                font-weight: 300;
                display: block;
            }
        }
    }

}

.section-main-title {
    font-size: 2.125rem;
    @include for-xl {
        font-size: 4rem;
    }
}

.section-content {
    font-size: 1.125rem;
    line-height: 1.5rem;
    @include for-xl {
        font-size: 1.5rem;
        line-height: 2.250rem;
    }
}

.section-link {
    font-size: 1.750rem;
    @include for-xl {
        font-size: 2.5rem;
    }
}

.page-content {
    p {
        line-height: 1.750rem;
    }
}